nav {
  height: 75px;
  margin: 0 auto;
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: #22279c;
  font-size: 1.5rem;
  font-weight: bolder;
}

.channel-icon {
  color: #22279c;
  font-size: 1.3rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  nav {
    width: 80%;
  }
}
